.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    padding-top: 20px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
} 

.form__input {
    padding: 5px;
    border: 1px solid #ddd;
}

.form__button {
    background-color: hsl(180, 100%, 25%);
    border: none;
    color: white;
    padding: 5px;
    transition: 1s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 35%);
    transform: scale(1.2);
}

.form__button:active {
    background-color: hsl(180, 100%, 40%);
}