.additionalButtons {
    display: flex;
    flex-wrap: wrap;
}

.additionalButtons__button {
    background: transparent;
    color: hsl(180, 100%, 25%);
    border: none;
    margin: 0 0 0 20px;  
    transition: 1s;  
}

@media(max-width: 767px) {
    .additionalButtons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.additionalButtons__button:hover {
    color: hsl(180, 100%, 35%);
}

.additionalButtons__button:disabled {
    color: #ccc
}